nav {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: var(--max-content);
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;

	#nav-primary,
	#nav-secondary {
		background: var(--background);
		display: flex;
		align-items: center;
		border-bottom: thick solid var(--text);
		width: 100%;
		position: relative;
		box-sizing: border-box;
		padding: 0 1rem;
	}

	#nav-primary {
		justify-content: space-between;
		z-index: 4;
		h1 {
			font-size: 2rem;
			font-family: 'Engravers Old English BT W03 Rg';
			margin: 0;
		}
		#date-display {
			font-family: 'Engravers Old English BT W03 Rg';
			margin: 0;
			font-size: 1.5rem;
		}

		h1:hover {
			cursor: pointer;
		}

		svg {
			height: 2rem;
		}

		svg:hover {
			cursor: pointer;
		}
	}

	#nav-secondary {
		justify-content: center;
		gap: 1rem;
		transition: transform 0.5s ease-in-out;
		z-index: 3;

		p {
			border-right: solid 4px var(--text);
			padding-right: 1rem;
		}

		#nav-search-inputs {
			display: flex;
			gap: 1rem;
			flex-wrap: wrap;
		}
	}

	#nav-secondary.hidden {
		transform: translateY(-100%);
	}
}
