.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: thick solid var(--text);
	padding: 0.5rem;
	box-sizing: border-box;
	gap: 1rem;

	a {
		height: 2rem;
        width: 2rem;
		svg {
			height: 100%;
			color: var(--text);
		}
	}
}
