#root {
  position: relative;
  max-width: var(--max-content);
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
