.card-group {
	width: 100%;

	h2 {
		font-family: 'Engravers Old English BT W03 Rg';
		margin: 1rem 0;
		padding: 0 2rem;
		text-transform: capitalize;
		font-size: 3.5rem;
		font-weight: 700;
		border-top: thick solid var(--text);
		border-bottom: thick solid var(--text);
	}

	& > div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: clamp(1rem, 2.5vw, 2.5rem);
	}

	h2.searchable:hover {
		cursor: pointer;
	}
}

.card-group:nth-child(2) {
	margin-top: 3rem;
}
